:root {
    --nav-bar-bg-color: #455a64;
    --nav-bar-text-color: white;
    --primary-bg-color: #1976d2;
    --primary-bg-text-color: white;
    --secondary-bg-color: white;
    --secondary-bg-text-color: #455a64;
    --tertiary-bg-color: #c56000;
    --tertiary-text-color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
}


/* Header */

.nav-bar {
    background-color: var(--nav-bar-bg-color);
    color: var(--nav-bar-text-color);
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    box-shadow: 0 1px 5px black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-bar,
.nav-bar>* {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.header-item {
    color: inherit;
    padding: 16px;
}

a.header-item {
    text-decoration: none;
}

a.header-item:hover {
    background-color: #E68E0D;
}

a.header-item:active {
    background-color: #CC7400;
}

.header-filler {
    flex-grow: 1;
}

.logo-text {
    font-size: 24;
}


/* -Header */


/* Main Content */

main {
    flex-grow: 1;
}

.primary-background-box {
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-text-color)
}
.primary-background-box hr {
    background-color: var(--primary-bg-text-color);
}
.primary-background-box .cycle-img-wrapper {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(344deg) brightness(111%) contrast(100%);
}


.secondary-background-box {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-bg-text-color);
}

.secondary-background-box hr {
    background-color: var(--secondary-bg-text-color);
}

.secondary-background-box .cycle-img-wrapper {
    filter: invert(31%) sepia(16%) saturate(683%) hue-rotate(155deg) brightness(96%) contrast(85%);
}

/* Section 1 */

#section1 {
    box-sizing: border-box;
    padding: 16px;
}



#person-photo {
    transition: 1s ease-in-out;
    cursor: pointer;
}

#person-photo:active {
    transition: 2s ease-in-out;
    transform: rotate(1turn);
}

#person-photo-wrapper,
#person-photo {
    border-radius: 50%;
}

#person-photo-wrapper {
    justify-content: space-evenly;
    align-items: center;

}

#person-photo-wrapper:active::after {
    content: "Do a barrel roll!";
    font-style: italic;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


/* -Section 1 */


/* Section 3 */

#section3 {
    height: 300px;
}


/* -Section 3 */


/* Generic sections */

.content-section {
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
}


/* -Generic sections */


/* Cycle img */

.cycle-img-radio {
    display: none;
}

.cycle-img {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    height: inherit;
    width: inherit;
}

.cycle-img>img {
    height: inherit;
    width: inherit;
}

.cycle-img-radio:checked+.cycle-img,
.placeholder {
    /* display: block; */
    cursor: pointer;
    opacity: 1;
    transition: opacity .4s ease;
    pointer-events: all;
}

.cycle-img-wrapper {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-right: 16px;
}


/* -Cycle img */


/* Modal */

#portfolio-items {
    flex-wrap: wrap;
}

.modal-btn {
    width: 300px;
    height: 300px;
    margin: 32px;
}

.modal-btn>* {
    position: absolute;
    width: inherit;
    height: inherit;
}

.modal-btn-overlay {
    background-color: #0086c3;
    opacity: 0;
}

.modal-btn-icon {
    position: relative;
    user-select: none;
    opacity: 0;
    width: auto;
    height: 50%;
    /* #f9973b: */
    filter: invert(58%) sepia(76%) saturate(444%) hue-rotate(344deg) brightness(99%) contrast(97%);
}

.modal-btn:hover>.modal-btn-icon {
    opacity: 1;
    transition: opacity .4s ease;
}

.modal-btn:hover>.modal-btn-overlay {
    opacity: .4;
    transition: opacity .4s ease;
}


/* -Modal */


/* -Main Content */


/* Footer */

footer {
    height: 80px;
    background-color: var(--tertiary-bg-color);
    color: var(--tertiary-text-color);
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}


/* -Footer */


/* Generic */

hr {
    width: 150px;
    height: 3px;
    border: 0px;
}

.header-item,
.modal-btn,
.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column
}